<%= form_with(model: @task, remote: true) do |form| %>
<br>
<br>
<hr>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
<br>
<!-- change from field to form-group and added class: 'form-control' -->
  <div class="form-group">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline %>
  </div>
  <hr>
<!-- changed from actions to form-group and added "submit" to form.submit added BS elements to tags -->
  <div class="form-group">
    <%= form.submit 'Submit', class: 'btn btn-lg btn-primary'%>
  </div>
<% end %>
